# Base de datos PostgreSQL
DIRECT_URL="postgresql://postgres.adduewpgbibvqayspiev:Felizdia205@aws-1-us-east-1.pooler.supabase.com:5432/postgres"

# Puerto del servidor
PORT=3000

# Clave secreta para JWT
JWT_SECRET="tu_clave_secreta_super_segura_123"

# Entorno
NODE_ENV=development
