# Base de datos PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/nombre_db"

# Puerto del servidor
PORT=3000

# Clave secreta para JWT
JWT_SECRET="tu_clave_secreta_super_segura_123"

# Entorno
NODE_ENV=development
